body {
  background-color: rebeccapurple;
}

h1 {
  color: lavenderblush;
  text-align: center;
}

main {
  align-items: center;
  margin: 4rem;
}
#rps-container {
  display: flex;
  border: black solid 2px;
  justify-content: space-around;
}

footer {
  align-items: center;
  margin: 4rem;
}

#compare-container {
  display: flex;
  border: black solid 2px;
  justify-content: space-around;
}

#rock {
  background-color: transparent;
  background-image: url(./images/the-rock.webp);
  width: 360px;
  height: 494px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#paper {
  background-color: transparent;
  background-image: url(./images/toilet-paper-man.png);
  width: 360px;
  height: 494px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#scissors {
  background-color: transparent;
  background-image: url(./images/brooding-scissors.png);
  width: 360px;
  height: 494px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
